@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  font-family: "DM Sans", sans-serif;
}

.react-multi-carousel-list{
  overflow: visible !important;
}

.react-international-phone-country-selector-button{
  border: none !important;
}